﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Edit.ascx.cs" Inherits="HavenAgency.Modules.NewsLetterWithClutch.Edit" %>
<%@ Register TagPrefix="dnn" TagName="label" Src="~/controls/LabelControl.ascx" %>

<div class="dnnForm dnnEditBasicSettings" id="dnnEditBasicSettings">
    
    <div style="align-content:center; font-size:16px; font-weight:300;"><h2>Nothing to add or edit</h2></div>

    
</div>